<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Галерея зображень</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      /* Стилі для зображень */
      .gallery-img {
        border: 1px solid black;
        margin: 10px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="gallery">
      <div v-for="(image, index) in images" :key="index">
        <img class="gallery-img" :src="image.src" :alt="image.alt" :width="image.width" :height="image.height" :style="{borderWidth: image.borderWidth + 'px'}">
        <div>
          <label>Ширина:</label> <input type="number" v-model="image.width"> px
        </div>
        <div>
          <label>Висота:</label> <input type="number" v-model="image.height"> px
        </div>
        <div>
          <label>Товщина рамки:</label> <input type="number" v-model="image.borderWidth"> px
        </div>
        <div>
          <label>Альтернативний текст:</label> <input type="text" v-model="image.alt">
        </div>
        <div>
          <button v-if="index > 0" @click="swapImages(index, index - 1)">Вище</button>
          <button v-if="index < images.length - 1" @click="swapImages(index, index + 1)">Нижче</button>
        </div>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: '#gallery',
        data: {
          images: [
            {src: 'image1.jpg', alt: 'Зображення 1', width: 200, height: 200, borderWidth: 1},
            {src: 'image2.jpeg', alt: 'Зображення 2', width: 200, height: 200, borderWidth: 1},
            {src: 'image3.jpg', alt: 'Зображення 3', width: 200, height: 200, borderWidth: 1}
          ]
        },
        methods: {
          swapImages: function(index1, index2) {
            var temp = this.images[index1];
            this.images[index1] = this.images[index2];
            this.images[index2] = temp;
          }
        }
      });
    </script>
  </body>
</html>
